.App {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #55423d;
}

.Events {
  box-shadow: 1px, #ffc0ad;
  background-color: #e78fb3;

}

h1 {
  color: #fffffe;
  margin-bottom: 50px !important;
}

.red-color {
  color: red;
}

button {
  background-color: #ffc0ad;
  color: #271c19;
}